chromadb
sentence_transformers
PyPDF2
langchain
langchain_community
requests
feedparser
langchain_chroma
langchain_ollama
langchain_text_splitters
fastapi
torch>=2.9.0 # not directly required, pinned by Snyk to avoid a vulnerability